.category {
  margin-top: 1em;
  padding: 0.2em;
  padding-inline-start: 2em;
  padding-inline-end: 2em;
  border: 2px solid;
  border-radius: 10%;
}

.tagLink {
  text-decoration: none;
  color: inherit;
}

.tagLink:hover span {
  background-color: #121212;
  border: 2px solid #6f9c72;
  color: white;
}

.date {
  margin-top: 0.5em;
}

.coffee {
  background-color: brown;
  border-color: brown;
  color: white;
}

.computer_science {
  background-color: midnightblue;
  border-color: midnightblue;
  color: white;
}

.innovation {
  background-color: teal;
  border-color: teal;
  color: white;
}

.rant {
  background-color: crimson;
  border-color: crimson;
  color: white;
}

.recommendation {
  background-color: indigo;
  border-color: indigo;
  color: white;
}

.security {
  background-color: darkslategray;
  border-color: darkslategray;
  color: white;
}

.software {
  background-color: mediumseagreen;
  border-color: mediumseagreen;
  color: black;
}

.web {
  background-color: sienna;
  border-color: sienna;
  color: white;
}
